* {
    font-family: 'Roboto';
    /* border: 5px red solid; */
}


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#heroimg {
    width: 150px;
    height: auto;
}

.herotext p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cardimg {
    width: 150px;
    height: auto;
    margin-bottom: 0px;
}

.infosubtext {
    margin-top: 0px;
    margin-bottom: 0px;
}

.paddings {
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.maintext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.herotext {
    width: 400px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
}

.signupbutton {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: 700;
}

.heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subheader {
    font-size: 18px;
    color: #e5e7eb;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 70px;
}

.infoheading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

.quoteborder {
    background-color: #e5e7eb;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    align-self: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

.cardimg {
    border: 5px #3882f6 solid;
    border-radius: 25px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.quoter {
    width: 100%;
    text-align: end;
    font-size:20px;
    font-weight: bold;
}

.signupcontainer {
    margin: 40px 40px;
    padding-left: 100px;
    padding-right: 100px;
    align-self: center;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}


.signuptitle {
    font-size: 24px;
    font-weight: 700;
    color: #e5e7eb;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.signuptext {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
}

.signupbutton2 {
    border: 2px #f9faf8 solid;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 7px;
    padding: 8px 20px;
    font-weight: 700;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}


